
:root{
    --bronco: hsla(30, 17%, 75%, 0.589);
    --tamarind: hsl(5, 41%, 12%);
    --congo-brown: hsla(13, 24%, 29%, 1.00);
    --copper: hsl(27, 55%, 42%);
    --transparent-tamarind: hsla(5, 41%, 12%, 0.075);

    --antique-brass: hsl(21, 53%, 59%);
    --light-antique: hsla(21, 53%, 59%, 0.089);

    --silver: hsl(217, 9%, 45%);
    --black: hsl(0, 0%, 10%);
}

img{
    display: block;
    max-width: 100%;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: white;
}

.product__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 3rem;
    width: 100%;
    max-width: 30rem;
    margin-inline: auto;
} 

.detail__info {
    padding: 1rem 1.5rem;
}

.detail__img {
    max-width: 25rem;
    max-height: 25rem;
    object-fit: cover;
    object-position: center;
    background-color: white;
    margin-inline: auto;
}

.detail__name {
    font-family: "Cormorant Garamond", serif;
    font-size: 2.5rem;
    color: var(--tamarind);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.details__title {
    font-weight: 600;
    color: var(--congo-brown);
    letter-spacing: 3px;
}

.detail__description {
    font-size: 0.875rem;
}

.detail__price {
    color: var(--tamarind);
    font-weight: 700;
    font-size: 3rem;
    font-family: "Cormorant Garamond", serif;
}

.carts__controls {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block-start: 2rem;
}

.quantity__boxes {
    border: 1px solid var(--congo-brown);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control__btn,
.cart__btn {
    background-color: var(--congo-brown);
    padding: 1rem 2rem;
    color: white;
    font-size: 1.5rem;
}

.cart__btn {
    width: 100%;
    border-radius: 10px;
}

.display__quantity {
    color: var(--congo-brown);
    font-size: 1.5rem;
}

@media (min-width: 48rem) {
    body {
        height: 100vh;
    }
    
    .product__details {
        max-width: 65rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .product__image,
    .detail__info {
        flex: 1;
    }
}