@import "tailwindcss";

:root{
    --bronco: hsla(30, 17%, 75%, 0.589);
    --tamarind: hsl(5, 41%, 12%);
    --congo-brown: hsla(13, 24%, 29%, 1.00);
    --copper: hsl(27, 55%, 42%);
    --transparent-tamarind: hsla(5, 41%, 12%, 0.075);

    --antique-brass: hsl(21, 53%, 59%);
    --light-antique: hsla(21, 53%, 59%, 0.089);
}

@layer components {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body{
        font-family: "Poppins", sans-serif;
        font-size: 1.1rem;
        position: relative;
    }

    .logo {
        font-family: "Cormorant Garamond", serif;
        letter-spacing: 0.05em;
    }

    .logo.active {
        display: none;
    }

    .nav__menu{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 2rem 1.5rem 0;
        color: var(--tamarind);
        background-color: var(--bronco);
        transition: left 0.3s ease-in;
        z-index: 1000;
    }

    .nav__menu.toggle{
        left: 0;
    }

    .nav__list{
        display: block;
    }

    .nav__item {
        width: 100%;
        padding: 1rem;
    }

    .nav__item.active {
        background-color: var(--tamarind);
    }

    .nav__link {
        color: var(--tamarind);
        font-weight: 600;
    }

    .nav__link.active,
    .nav__link:hover{
        color: var(--copper);
    }

    .close{
        font-size: 1.5rem;
    }

    .banner__title{
        font-family: "Cormorant Garamond", serif;
    }

    .overlay.active {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        z-index: 20;
    }

    /* category section */
    /* .category__img{
        width: 300px;
        height: 400px;
        object-fit: cover;
        object-position: center;
    } */

    .product{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: auto;
        position: relative;
    }

    .product__img {
        width: 5rem;
        height: 7rem;
        object-fit: cover;
        object-position: center;
        background-color: white;
    }

    .product__text {
        width: 100%;
        font-size: 0.75rem;
        background-color: var(--light-antique);
        padding-top: 0.5rem;
    }

    .product__title {
        text-transform: uppercase;
    }

    .product__price {
       font-weight: bold;
    }

    .product__btn {
        padding: 0.5rem 1rem;
        background-color: var(--bronco);
        font-size: 0.75rem;
        cursor: pointer;
    }

    .clothing__main {
        background-color: white;
        color: #1a1a1a;
    }

    /* Tab buttons */
    .tab__btn {
        position: relative;
        font-size: 0.875rem;
    }

    .tab__btn.active {
        font-weight: bold;
    }

    .tab__btn.active::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--tamarind);
    }

    .clothing__shop {
        position: relative;
    }

    .clothing__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(0, 0, 0, 0.6);
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .product__detail {
        width: 90%;
        max-width: 25rem;
        position: absolute;
        top: 0;
        animation: popUp 0.3s ease;
    }

    @keyframes popUp {
        from { transform: scale(0.9); opacity: 0; }
        to { transform: scale(1); opacity: 1; }
    }

    .clothing__banner::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(
                to bottom,
                hsla(13, 24%, 29%, 1) 0%,
                hsla(13, 24%, 29%, 0.8) 25%,
                hsla(13, 24%, 29%, 0.4) 60%,
                hsla(13, 24%, 29%, 0) 100%
            );
            z-index: 1;
    }

    .cart__items {
        display: grid;
        gap: 1rem;
    }

    .cart__item:first-child {
        margin-block-start: 2rem;
    }

    .cart__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid white;
        border-radius: 10px;
        padding: 0.5rem 2rem;
        margin-block: 1rem;
        width: 100%;
    }

    .item__details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        text-align: start;
    }

    .item__image{
        width: 3.5rem;
        height: 3.5rem;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        background-color: white;
    }

    .item__price {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .item__quantity {
        font-size: 0.875rem;
        margin-block: 0.2rem;
    }

    .cart__header::after {
        content: "";
        position: absolute;
        top: 2.5rem;
        width: 100%;
        height: 1px;
        background-color: white;
        margin-block-end: 1rem;
    }

    /* gallery */
    .image__gallery {
        display: none;
    }

    .cart__container{
        position: fixed;
        top: 6rem;
        right: 0;
        width: 100%;
        background-color: var(--congo-brown);
        color: white;
        padding: 1rem;
        text-align: center;
        overflow-y: auto;
        transition: left 0.3s ease-in;
        z-index: 20;
    }

    /* wish button */
    .wish__btn {
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;
    }

    .wish__btn i {
        font-size: 0.75rem;
    }


    @media (min-width: 48rem) {
        .nav__menu {
            position: relative;
            top: auto;
            left: auto;
            padding-inline: 1rem;
            background-color: transparent;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .nav__list {
            display: inline-flex;
        }

        .nav__link {
            font-size: 1rem;
        }

        .nav__item {
            position: relative;
            cursor: pointer;
            z-index: 1;
        }

        .cart__item {
            margin-block: 0;
        }

        .image__gallery {
            display: flex;
            gap: 2rem;
            position: absolute;
            bottom: 0;
            margin-left: 4rem;
        }

        .gallery__img{
            width: 80px;
            border-radius: 10px;
            border: 1px solid var(--antique-brass);
        }

        .cart__container {
            width: 50%;
            top: 8.5rem;
            max-height: calc(100vh-8rem);
        }
    }

    @media (min-width: 64rem) {
        .nav__item {
            padding: 0.5rem 2rem;
            margin-left: 1rem;
        }

        .nav__item.active{
            background-color: transparent;
        }

        .nav__item::before,
        .nav__item::after {
            content: "";
            position: absolute;
            inset: 0;
            border: 1px solid var(--tamarind);
            transform: skew(45deg);
            z-index: -1;
            border-radius: 4px;
        }

        .nav__item.active::before,
        .nav__item.active::after{
            background-color: var(--tamarind);
        }

        .gallery__img{
            width: 150px;
        }

        .cart__container {
            width: 45%;
            top: 7.5rem;
            max-height: calc(100vh-7.5rem);
        }
    }
}

/* npx @tailwindcss/cli -i ./css/style.css -o ./css/output.css --watch
 */